@import "scssCore/core.scss";

// Modale de règles et de contrôles
.commands-filter {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  &.IsRemoved {
    display: none;
  }
}
.commands {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 85vw;
  height: 90vh;
  background-color: black;
  color: white;
  border: 8px white solid;
  z-index: 2;
  font-size: 20px;
  & h1 {
    font-size: 60px;
  }
  @include for-desktop-up {
    width: 50vw;
    height: 50vh;
  }
  &.IsRemoved {
    display: none;
  }
  & #circleClickControls {
    animation: rotate-cliked 3s ease-in-out 200ms infinite;
  }
  & #cursorClickControls {
    animation: double-tap 3s ease-in-out 200ms infinite;
  }
  & #cursorMoveControls {
    animation: move-cursor 3s ease-in-out 200ms infinite;
  }
  & #mouseScroll {
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  & #handTap {
    animation: double-tap 1.5s ease-in-out infinite both;
  }
  & #handPinch {
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  & #handSwipe {
    animation: rotate-swipe 1.5s ease-in-out infinite both;
  }

  & .commands-controls-desktop {
    display: none;
    @include for-desktop-up {
      display: flex;
    }
    width: 90%;
    justify-content: space-evenly;
    & li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 20px;
      width: 30%;
      span {
        text-decoration: underline;
        font-size: 25px;
      }
      & svg {
        margin-top: 10px;
        fill: #fff;
      }
    }
  }
  & .commands-controls-mobile {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    & li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 25px;
      width: 90%;
      padding-top: 10px;
      span {
        text-decoration: underline;
        font-size: 30px;
      }
      & svg {
        margin-top: 10px;
        fill: #fff;
      }
      & img {
        padding: 10px;
      }
    }
    @include for-tablet-portrait-up {
      flex-direction: row;
    }
    @include for-tablet {
      flex-direction: column;
      & li {
        font-size: 35px;
        padding-top: 20px;
        & span {
          font-size: 45px;
        }
        & img {
          width: 100px;
        }
      }
    }
    @include for-desktop-up {
      display: none;
    }
  }
}
