@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import "scssCore/core.scss";
@import "keyframes.scss";
@import "loading.scss";
@import "menu.scss";
@import "commands.scss";
@import "leaderboard.scss";
@import "navbar.scss";

body {
  margin: 0;
  font-family: "VT323", monospace;
  background-color: black;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}
.alertify-notifier {
  font-size: 19px;
  z-index: 4;
  bottom: 125px !important;
  @include for-tablet-landscape-up {
    bottom: 10px !important;
  }
  &:hover {
    cursor: pointer;
  }
}

rect {
  position: relative;
}
g {
  // fill: white;
  &:hover {
    cursor: crosshair;
  }
  &:active:hover {
    cursor: all-scroll;
  }
}

#container {
  & svg {
    width: 100vw;
    @include for-tablet-landscape-up {
      width: 80vw;
    }
    background-color: rgb(204, 204, 204);
  }
}

// Si je suis connecté
body.IsConnected {
  & .menu-userConnected {
    display: inline;
  }
  & .menu-pyxelia {
    &-colorsList {
      display: -webkit-box;
    }
    &-pixelPlaced {
      display: inline;
    }
  }
  & #firebaseui-auth-container {
    display: none;
  }
  & .navbar .buttonNav.buttonDisplayCommands {
    display: flex;
  }
}

// Si le secret est activé
body.SecretOn {
  animation: color-change-5x 8s linear infinite alternate both;
}
// Deuxième partie du secret
body.error {
  pointer-events: none;
  cursor: none;
  & div {
    animation: flicker-out-1 2s linear both;
  }
  & .navbar {
    display: none;
  }
  & .leaderboard {
    display: none;
  }
}
#errorMessageVideo {
  animation: none;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
}
