// Animations
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotate-swipe {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes double-tap {
  55% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.9);
  }
  65% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1);
  }
}
@keyframes rotate-cliked {
  55% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  65% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
}
@keyframes move-cursor {
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(0px);
  }
  70% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes scale-out-vertical {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
