@import "scssCore/core.scss";

.loading-screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 5;
  &.loading-complete {
    animation: slide-out-fwd-center 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
  }
  &.loading-gone {
    display: none;
  }
  & svg {
    width: 200px;
    @include for-tablet-landscape-up {
      width: 300px;
    }
    height: 100px;
  }
  &-message {
    text-align: center;
    font-size: 25px;
    width: 400px;
  }
  & .lds-grid {
    display: inline-block;
    margin: 30px 0px;
    position: relative;
    width: 80px;
    height: 80px;
    & div {
      position: absolute;
      width: 16px;
      height: 16px;
      background: #fff;
      animation: lds-grid 1.2s linear infinite;
      &:nth-child(1) {
        top: 8px;
        left: 8px;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        top: 8px;
        left: 32px;
        animation-delay: -0.4s;
      }
      &:nth-child(3) {
        top: 8px;
        left: 56px;
        animation-delay: -0.8s;
      }
      &:nth-child(4) {
        top: 32px;
        left: 8px;
        animation-delay: -0.4s;
      }
      &:nth-child(5) {
        top: 32px;
        left: 32px;
        animation-delay: -0.8s;
      }
      &:nth-child(6) {
        top: 32px;
        left: 56px;
        animation-delay: -1.2s;
      }
      &:nth-child(7) {
        top: 56px;
        left: 8px;
        animation-delay: -0.8s;
      }
      &:nth-child(8) {
        top: 56px;
        left: 32px;
        animation-delay: -1.2s;
      }
      &:nth-child(9) {
        top: 56px;
        left: 56px;
        animation-delay: -1.6s;
      }
    }
  }
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes slide-out-fwd-center {
  0% {
    transform: translateZ(1);
    opacity: 1;
  }
  100% {
    transform: translateZ(600px);
    opacity: 0;
  }
}
