#kcTimer {
  position: fixed;
  height: 7px;
  bottom: 0;
  left: 0;
  z-index: 4;
  &.kcTimerOn {
    animation: cooldown 3.9s linear,
      color-change-5x 8s linear infinite alternate both;
  }
}

@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}

@keyframes cooldown {
  0% {
    width: 100vw;
  }
  100% {
    width: 0;
  }
}
