@import "../scssCore/core.scss";

.menu {
  & #firebaseui-auth-container {
    z-index: 4;
  }
  &-userConnected {
    text-align: center;
    display: none;
    margin-top: 5px;
  }
  &-disconnect {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &-version {
    width: 90%;
  }
}

@include for-tablet-portrait-and-down {
  .menu-pyxelia {
    position: fixed;
    bottom: 0;
    background-color: black;
    border-top: white 5px solid;
    padding: 10px 0px;
    text-align: center;
    width: 100vw;

    & #firebaseui-auth-container {
      font-size: 20px;
      padding: 0 10px;
    }
    & svg {
      display: none;
    }
    &-colorsList {
      height: 10vh;
      display: none;
      justify-content: space-between;
      align-items: center;
      overflow-x: auto;
      overflow-y: none;

      &-button {
        margin: 10px;
        width: 60px;
        height: 40px;
        border: white 3px solid;
        transition: transform 200ms ease-in-out;
        &:hover {
          cursor: pointer;
          transform: scale(120%);
        }
        &.colorActive {
          transform: scale(120%);
        }
      }
    }
  }
}

@include for-tablet-landscape-up {
  .menu-pyxelia {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    & #firebaseui-auth-container {
      font-size: 20px;
      padding: 0 10px;
    }
    & svg {
      width: 90%;
    }
    &-colorsList {
      display: none;
      flex-wrap: wrap;
      justify-content: center;
      &-button {
        margin: 9px;
        flex-basis: 20%;
        width: 50px;
        height: 50px;
        border: white 3px solid;
        transition: transform 200ms ease-in-out;
        &:hover {
          cursor: pointer;
          transform: scale(120%);
        }
        &.colorActive {
          transform: scale(120%);
        }
      }
    }
    &-pixelPlaced {
      display: none;
    }
  }
}
