@import "../scssCore/core.scss";

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 10px;
  text-decoration: none;
  width: 100px;
  & .share-list {
    display: none;
    align-items: center;
    list-style: none;
    border: rgb(0, 0, 0) 3px solid;
    background-color: rgb(255, 255, 255);
    padding: 0 5px;
    width: 120px;
    justify-content: center;
    @include for-tablet-landscape-up {
      padding: 0 10px;
    }
    animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    transition: width 200ms ease-in;
    &.shareActive {
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      display: flex;
    }
    & img {
      width: 40px;
    }
  }
  & .buttonNav {
    &.shareButtonActive {
      transform: scale(1.2);
    }
    &.buttonDisplayCommands {
      display: none;
    }
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    height: 50px;
    font-family: "VT323", monospace;
    color: white;
    border: white 3px solid;
    background-color: black;
    padding: 0 5px;
    text-align: center;
    transition: transform 200ms ease-in;
    z-index: 3;
    text-decoration: none;
    & img {
      width: 25px;
    }
    &.downloadGridButton {
      display: none;
    }
    @include for-desktop-up {
      &.downloadGridButton {
        display: flex;
      }
    }
    @include for-tablet-landscape-up {
      padding: 0 10px;
      font-size: 15px;
      height: 60px;
      width: 60px;
      & img {
        width: 35px;
      }
      &:hover {
        transform: scale(1.2);
        cursor: pointer;
        z-index: 5;
      }
    }
  }
}
